

table, td, tr {    
    /* background-color: #bbdefb; */
    /* text-decoration:underline; */
    /* text-align: center; */
    color:blue;
    font-size: 11px;
    border:1px solid #444444;
    border-collapse: collapse;
    /* border-bottom: 1px solid #444444; */
    /* border-top: 1px solid #444444; */
}


p.large {
    color: blue;
}

fieldset {
    background-color:gold;    
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    /* font-weight: bold; */
}

.large { font-size: large; font-weight: bold; }
.sale { background-color: cadetblue;}
/* .xx-small { font-size: xx-small; }
.x-small { font-size: x-small; }
.small { font-size: small; }
.medium { font-size: 14px; }
.large { font-size: large; font-weight: bold; }
.x-large { font-size: x-large; }
.xx-large { font-size: xx-large; } */

/* th {
    color:blue;
    background-color: #bbdefb;
} */